*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: serif fantasy inherit; 
}


.form{
	text-align: center;	
	margin: 1rem 0;
}

.form input{
	margin-bottom: .5rem;
	padding: .4rem;
}

.form #input-from, #input-to{
	max-width: 6.8em;
}

.form button{
	min-width: 6em;
	padding: .5em;
	margin-right: 3em;
}

.form #btn-search{
	margin-right: 0;
}

#btn-import:hover{
	background-color: blue; 
}

.form button:hover{
	background-color: red;
}

.form #btn-search:hover{
	background-color: blue; 
}

.form a{
	text-decoration: none;
}

.form a:hover{
	color: green;
	font-weight: bold;
}


table{
	border-collapse: collapse;
	margin: 0 auto;
	padding: 5px;
	border-radius: 1em;
}

table th, td{
	padding: .5em;
}

table tr:nth-child(2n+2) {
	background-color: #fce6b4;
}

