<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
      	<setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
	<typeAliases>
		<typeAlias alias="User" type="fsoft.jits.mybatis.model.User" />
		<typeAlias alias="Product" type="fsoft.jits.mybatis.model.Product" />
		<typeAlias alias="Category" type="fsoft.jits.mybatis.model.Category" />
		<typeAlias alias="SubCategory" type="fsoft.jits.mybatis.model.SubCategory" />
		<typeAlias alias="Role" type="fsoft.jits.mybatis.model.Role" />
		<typeAlias alias="UserRole" type="fsoft.jits.mybatis.model.UserRole" />
	</typeAliases>
</configuration>
